* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilory;
  color:white;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #111;
}

#box1{
  height: 300px;
  width: 300px;
  background-color: crimson;
}
#box2{
  height: 300px;
  width: 300px;
  background-color: lightgreen;
}
#box3{
  height: 300px;
  width: 300px;
  background-color: palegoldenrod;
}